Flask
datetime
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-exporter-otlp-proto-http
opentelemetry-distro
opentelemetry_wrapper
prometheus-flask-exporter
opentelemetry-exporter-otlp
python-logging-loki
mysql-connector-python